name: Simple workflow

on:
  push:
    branches:
      - main
      
jobs:
  execute_example:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Run Python script
        run: example.py
